.Child {
    width: auto;
    height: 120px;
    background-color: azure;
    border-radius: 10px;
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}