#overlay {
   background-color:rgba(77, 66, 66, 0.7);
   position: fixed;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.gameoverbox {
   display: flex;
   flex-direction: column;
   background-color: rgb(41, 3, 3);
   color: white;
   width: 40%;
   height: 35%;
   border-radius: 3%;
   position: relative;
   align-items: center;
   justify-content: center;
}
.gameoverbox * {
   font-size: 30px;
   margin: 10px;
}